# This is Git's per-user configuration file.
[user]
	name = Nate Corkish
	email = natecorkish@redacted.com
# Please adapt and uncomment the following lines:
#	name = Nate Corkish
#	email = natecorkish@nates-mbp.home
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
