# This is Git's per-user configuration file.
[user]
	name = Nate Corkish
	email = 66919946+natecorkish@users.noreply.github.com
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[hub]
	protocol = https
